@{
    ViewData["Title"] = "Bio Data";
}

<h2>Student Bio Data</h2>

<table border="1" cellpadding="10">
    <tr><td>Name</td><td>Ali Raza</td></tr>
    <tr><td>Father Name</td><td>Raza Ahmed</td></tr>
    <tr><td>Address</td><td>Multan, Pakistan</td></tr>
    <tr><td>Degree Program</td><td>BSCS</td></tr>
    <tr><td>Semester</td><td>4th</td></tr>
    <tr><td>CGPA</td><td>3.50</td></tr>
</table>
